# Rename this to .python-version after creating your pyenv
# Replace 'projectname' with your actual project name
#
# Setup:
#   pyenv virtualenv 3.12 projectname_3.12
#   pyenv local projectname_3.12
#
projectname_3.12
